@model TomatesBuenos.Models.TVshow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TVshow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AudienceRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AudienceRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriticsRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriticsRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvaliablePlatforms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvaliablePlatforms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premiere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premiere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creators)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creators)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starring)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
